In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score

from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

In [3]:
file = "wifi_localization.txt"
df = pd.read_csv(file, sep="\t", header=None)

In [4]:
df.head(8)

    0   1   2   3   4   5   6  7
0 -64 -56 -61 -66 -71 -82 -81  1
1 -68 -57 -61 -65 -71 -85 -85  1
2 -63 -60 -60 -67 -76 -85 -84  1
3 -61 -60 -68 -62 -77 -90 -80  1
4 -63 -65 -60 -63 -77 -81 -87  1
5 -64 -55 -63 -66 -76 -88 -83  1
6 -65 -61 -65 -67 -69 -87 -84  1
7 -61 -63 -58 -66 -74 -87 -82  1

In [5]:
df.shape

(2000, 8)

In [6]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
dtype: int64

In [7]:
df.dtypes

0    int64
1    int64
2    int64
3    int64
4    int64
5    int64
6    int64
7    int64
dtype: object

In [8]:
X = df.drop(columns=[7], axis=1)
y = df[7]
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=0)

In [9]:
X_train

       0   1   2   3   4   5   6
582  -38 -57 -60 -39 -68 -73 -74
159  -62 -51 -53 -60 -67 -78 -85
1827 -59 -49 -45 -57 -52 -80 -82
318  -62 -63 -57 -69 -71 -82 -82
708  -40 -58 -52 -41 -66 -63 -75
...   ..  ..  ..  ..  ..  ..  ..
835  -36 -54 -54 -36 -62 -71 -70
1216 -49 -61 -55 -49 -62 -84 -89
1653 -63 -59 -45 -65 -47 -89 -92
559  -41 -58 -58 -42 -64 -79 -80
684  -37 -58 -57 -37 -73 -75 -71

[1600 rows x 7 columns]

In [10]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [11]:
X_train

array([[ 1.2344625 , -0.38408494, -0.94639817, ..., -0.59132052,
         1.19251385,  1.14998932],
       [-0.85969548,  1.37173193,  0.37082061, ..., -0.48111518,
         0.43506162, -0.51487965],
       [-0.59792573,  1.95700422,  1.87621349, ...,  1.17196489,
         0.13208073, -0.06082447],
       ...,
       [-0.94695206, -0.96935723,  1.87621349, ...,  1.72299158,
        -1.23133328, -1.57434172],
       [ 0.97269275, -0.67672109, -0.57004995, ..., -0.15049916,
         0.28357118,  0.24187897],
       [ 1.32171908, -0.67672109, -0.38187584, ..., -1.1423472 ,
         0.88953296,  1.6040445 ]], shape=(1600, 7))

In [12]:
classifier = LogisticRegression(random_state=0)
classifier.fit(X_train, y_train);

In [13]:
y_pred = classifier.predict(X_test)

In [14]:
print(set(y_test))
print(set(y_pred))

{1, 2, 3, 4}
{np.int64(1), np.int64(2), np.int64(3), np.int64(4)}

In [15]:
cm = confusion_matrix(y_test, y_pred)
cm

array([[106,   0,   1,   0],
       [  0,  84,   9,   0],
       [  0,   0, 100,   1],
       [  0,   0,   0,  99]])

In [16]:
print("Modelimizin Accuracy Skoru:")
accuracy_score(y_test, y_pred)

Modelimizin Accuracy Skoru:

0.9725